.school-search {
    height: 25vh;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 20px;
    font-size: 20px;
}

.search-box {
    width: 25vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.search-input {
    padding: 0.9vh;
    border-radius: 0.5vw;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
}

.search-button {
    align-self: center;
    width: 25vw;
    padding: 0.625vw;
    border-radius: 1vh;
    border: none;
    background-color: #1E63D6;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #1943A6;
}