.booking-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 112px; /* same as topbar height */
}

.booking-box {
    width: 350px;
    padding: 40px;
    background-color: #f3f3f3;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.booking-input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.booking-button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.booking-button:hover {
    background-color: #333;
}