.filter-label {
    display: flex;
}
.filter-box {
    width: 25vw;
    height: 60vh;
    padding: 5vh;
    background-color: #f3f3f3;
    border-radius: 0.8vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    overflow: scroll;
}


.filterchecklist {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.filterchecklist label {
    display: flex;
    justify-content: space-between;
    font-size: 0.9vw;
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    writing-mode: horizontal-tb;
    width: 18vw;
}

option {
    padding: 0;
}

input[type="range"] {
    width: 18vw;
    margin: 0;
}
