.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 112px; /* same as topbar height */
}

.login-box {
    width: 20vw;
    height: auto;
    padding: 40px;
    background-color: #f3f3f3;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.93vh;
}

.login-input {
    padding: 0.625vh;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-button {
    padding: 0.625vh;
    border-radius: 6px;
    border: none;
    background-color: #1E63D6;
    color: white;
    cursor: pointer;
    height: 5vh;
    width: auto;
    font-size: 2vh;
}

.login-button:hover {
    background-color: #1943A6;
}