.DrivingHistory {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 20px;
    background: #e7e7e7;
    margin-bottom: 10px;
}

.DrivingHistory.highlighted {
    background: #7fb3ff;
    color: white;
}
.DrivingHistoryHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    gap: 0.94vw;
    padding: 0.706vw 1.176vw;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}
.DrivingHistoryButtons {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.DrivingHistoryButtons button {
    padding: 10px 18px;
    border: none;
    border-radius: 12px;
    background-color: #e0e0e0;
    cursor: pointer;
    font-weight: 600;
}

.DrivingHistoryButtons button:hover {
    background-color: #d0d0d0;
}

.activeHistoryButton {
    background-color: #2f80ed !important;
    color: white;
}